<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs List Page | GUDLFT Display Clubs</title>
</head>
<body>
    <h2 id="clubs_list_title">Clubs List: </h2>
    <a id="go_back_button" href="{{url_for('index')}}">Go Back</a>
    <ul>
        {% for club in clubs%}
        <li>
            <span id="club_name_{{ club['name'].replace(' ', '_') }}">Club: {{club['name']}}</span><br />
            <span id="club_points_{{ club['name'].replace(' ', '_') }}">Points: {{club['points']}}</span><br />
        </li>
        {% endfor %}
    </ul>
</body>
</html>