<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>
    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    Points available: {{club['points']}}
    <h3 id="competitions_title">Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            <span id="comp_name_{{ loop.index0 }}">{{comp['name']}}</span><br />
            <span id="comp_date_{{ loop.index0 }}">Date: {{comp['date']}}</span><br />
            {%if comp not in over_competitions%}
            <span id="comp_number_place_{{ loop.index0 }}">Number of Places: {{comp['numberOfPlaces']}}</span></br>
            {%endif%}
            {%if comp['numberOfPlaces']|int >0 and comp not in over_competitions%}
            <a href="{{ url_for('book', competition=comp['name'], club=club['name']) }}"
               id="competition_{{ loop.index0 }}">Book Places</a><br />
            {%elif comp in over_competitions%}
            <span id="comp_error_comp_over_{{ loop.index0 }}">This competition is now over</span></br>
            {%elif comp['numberOfPlaces']|int >= 0%}
            <span id="comp_no_place_{{ loop.index0 }}">Sorry, there are no more places available in this competition</span></br>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>
    {%endwith%}
</body>
</html>